{% extends "admin/base2.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
{{ form.media }}
{% endblock %}

{% block title %}
  {{title}}
{% endblock title %}

{% block content %}
<section class="login-block">

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
			
				<form action="{{ app_path }}" method="post" class="md-float-material form-material">
					{% csrf_token %}
					<div class="text-center">
						<h1><span class="text-light" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{site_header|upper}}</span></h1>
						<!-- <img src="https://codedthemes.com/demos/admin-templates/material-able/bootstrap/files/assets/images/logo.png" alt="logo.png"> -->
					</div>
					<div class="auth-box card">
						<div class="card-block">
							<div class="row m-b-20">
								<div class="col-md-12">
								<h3 class="text-center">Sign In</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{% if form.errors and not form.non_field_errors %}
										<p class="errornote">
										{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
										</p>
										{% endif %}

										{% if form.non_field_errors %}
										{% for error in form.non_field_errors %}
										<p class="errornote">
											{{ error }}
										</p>
										{% endfor %}
									{% endif %}
									{% if user.is_authenticated %}
									<p class="errornote">
									{% blocktrans trimmed %}
										You are authenticated as {{ username }}, but are not authorized to
										access this page. Would you like to login to a different account?
									{% endblocktrans %}
									</p>
									{% endif %}
								</div>
							</div>
							<div class="form-group form-primary">
								<input type="text" name="username" class="form-control">
								<span class="form-bar"></span>
								<label class="float-label">Your Email Address</label>
								{{ form.username.errors }}
							</div>
							<div class="form-group form-primary">
								<input type="password" name="password" class="form-control">
								<span class="form-bar"></span>
								<label class="float-label">Password</label>
								{{ form.password.errors }}
							</div>
							<input type="hidden" name="next" value="{{ next }}">
							<div class="row m-t-25 text-left">
								<div class="col-12">
									<div class="checkbox-fade fade-in-primary d-">
										<label>
											<input type="checkbox" value="">
											<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
											<span class="text-inverse">Remember me</span>
										</label>
									</div>
									<div class="forgot-phone text-right f-right">
										<a href="javascript:;" class="text-right f-w-600"> Forgot Password?</a>
									</div>
								</div>
							</div>
							<div class="row m-t-30">
								<div class="col-md-12">
									<input type="submit" class="btn btn-primary btn-out btn-md btn-block waves-effectt waves-light text-center m-b-20" value="Sign in">
									<!-- <button type="button" class="btn btn-primary btn-out-dotted btn-md btn-block waves-effectt waves-light text-center m-b-20">Sign in</button> -->
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-md-10">
									<!-- <p class="text-inverse text-left m-b-0">Thank you.</p> -->
									<p class="text-inverse text-left "><a class="btn btn-outline-primary" href="/"><b>Back to Home</b></a></p>
								</div>
								<div class="col-md-2">
									<img src="https://codedthemes.com/demos/admin-templates/material-able/bootstrap/files/assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
								</div>
							</div>
						</div>
					</div>
				</form>
			
			</div>
		
		</div>
	
	</div>
  
  </section>
  
{% endblock %}
