{% load static %}

{% block extrastyle %}
    <style>
        .footer1 {
            position: relative !important;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
        }
    </style>
{% endblock extrastyle %}

<div class="footer1 pr-5 pl-5 pt-3 pb-3">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">{{site_header|upper}}</h5>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    
                    <li class="breadcrumb-item">
                        <b><strong>material admin 0.1</strong></b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>